---
layout: default
---

<div class="home">

  <!--h1 class="page-heading">posts</h1-->
  
  {{ content }}

  <div class="post-list-section">
    {% for post in site.posts %}
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3><a class="post-link" id="post-link-title" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
      
      <p>
        {{ post.excerpt }}
        <a class="post-link" href="{{ post.url | relative_url }}"><small>[full post... {{ post.title | escape }}]</small></a>
      </p>
    {% endfor %}
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> 
  </div>
    
</div>